.cBCon {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    color: #FFFFFF;
    box-shadow: 0px 0.2px 1px rgba(0, 0, 0, 0.9);
    padding: 10px 10px;
    border-radius: 12px;
    height: 500px;

    h3 {
        font-size: 14px;
        font-weight: 500;
    }

    p {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.7;
    }
    position: relative;
}

.cBImg {
    /* width: 100%; */
    /* max-width: 300px; */
    /* height: 400px; */
    background-size: cover;
    border-radius: 15px;
    padding: 10px 0;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width : 1000px) {
    .cBCon {
        height: auto;
    }

    .cBImg {
        width: 300px;
    }
    .btnWrapper {
        position: static;
    }
    
}