.cBCon {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    box-shadow: 2px 2px 2px 2px rgba(1, 1, 1, 1);
    padding: 10px 10px;
    border-radius: 12px;
    min-height: 500px;
    height: auto;
    max-width: 350px;

    h3 {
        font-size: 20px;
        font-weight: 700;
    }
    h5 {
        font-size: 14px;
        font-weight: 500;
    }

    p {
        font-size: 12px;
        font-weight: 300;
    }
}

.cBImg {
    background-size: cover;
    border-radius: 15px;
    padding: 10px 0;
}

.btnWrapper {
    display: flex;
    padding: 10px;
}

@media screen and (max-width : 1000px) {
    .cBCon {
        height: auto;
    }

    .cBImg {
        width: 300px;
    }
    .btnWrapper {
        position: static;
    }
    
}