.articleCon {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

h2 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 450;
    color: white;
}

.containerWrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 0;
    justify-content: center;

}

@media screen and (max-width : 1000px) {
    .containerWrapper {
        flex-wrap: wrap;
    }
}