.heroCon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 0;
    gap: 30px;
}

.heroConLeft {
    width: 25%;
}

.heroConRight {
    width: 70%;
}

.heroConRight {
    color: #FFFFFF;
    h2 {
        font-size: 14px;
        font-weight: 300;
    }
    h1 {
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 800;
        padding: 20px 0;
    }
    span {
        font-size: 14px;
        line-height: 1.7;
        font-weight: 300;
    }
}

@media screen and (max-width : 1060px) {
    .heroConLeft {
        width: 30%;
    }
    
    .heroConRight{
        h1 {
        padding: 5px 0;
        font-size: 22px;
        }
    }
}
@media screen and (max-width : 960px) {
    .heroConLeft {
        width: 40%;
    }   
    .heroConRight{
        h1 {
        font-size: 18px;
        }
    }
}
@media screen and (max-width : 900px) {
    .heroCon {
        flex-direction: column;
        justify-content: center;
    }
    .heroConLeft,
    .heroConRight{
        width: 100%;
    }
    .heroConLeft {
        img {
            width: 100%;
            height: 350px;
            background-size: cover;
        }
    }
    .heroConRight{
        h1 {
            font-size: 25px;
            padding: 20px 0;
        }
    }
}