.viewCon {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    gap: 10px;
}

.viewHeading {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.viewSubHeading {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.buttonWrapper {
    padding: 0 10px;
    margin: 30px 0;
}

.activeButton,
.inactiveButton {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}

.inactiveButton {
    transition: all 0.1s ease-in;
}



.btnWrapper {
    display: flex;
    justify-content: center;
}

.imageContainer {
    margin-top: 20px;
    width: 100%;
    margin: 20px auto;
    flex: 1;
}

.image {
    width: 100%;
    max-height: 100%;
    background-size: cover;
    border-radius: 6px;
    height: 500px;
}

@media screen and (max-width : 900px) {

    .activeButton,
    .inactiveButton {
        font-size: 12px;
    }
}