.layoutcontainer {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .layoutcontainer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 1024px) {
    .layoutcontainer {
        padding-left: 4rem;
        padding-right: 4rem;
    }

}

@media (min-width: 1536px) {
    .layoutcontainer {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media (min-width: 1536px) {
    .layoutcontainer {
        padding-left: 16rem;
        padding-right: 16rem;
    }
}